macro_lol-team-chat: macro_lol-team-chat{
compatible = "zmk,behavior-macro";
label = "macro_lol-team-chat";
#binding-cells = <0>;
bindings = <&tog 4>, <&kp ENTER>;
};
macro_lol-chat-cancel: macro_lol-chat-cancel{
compatible = "zmk,behavior-macro";
label = "macro_lol-chat-cancel";
#binding-cells = <0>;
bindings = <&kp ESC>, <&tog 4>;
};
macro_lol-chat-submit: macro_lol-chat-submit{
compatible = "zmk,behavior-macro";
label = "macro_lol-chat-submit";
#binding-cells = <0>;
bindings = <&kp ENTER>, <&tog 4>;
};
macro_lol-all-chat: macro_lol-all-chat{
compatible = "zmk,behavior-macro";
label = "macro_lol-all-chat";
#binding-cells = <0>;
bindings = <&tog 4>, <&kp LEFT_SHIFT>, <&kp ENTER>;
};
macro_input-switch: macro_input-switch{
compatible = "zmk,behavior-macro";
label = "macro_input-switch";
#binding-cells = <0>;
bindings = <&kp RCMD>, <&kp SPACE>;
};
macro_quotes: macro_quotes{
compatible = "zmk,behavior-macro";
label = "macro_quotes";
#binding-cells = <0>;
bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
};